@model CodingCraftEX06HangFire.ViewModels.OrdensViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Compra", "Compra", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</p>
@using (Html.BeginForm("Index", "Ordens", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>Filtros</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pesquisar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <th>Ação</th>
        <th>Operação</th>
        <th>Quantidade</th>
        <th>Compra R$</th>
        <th>Atual R$</th>
        <th>Rentabilidade</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Resultados)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Acao.CodigoNegociacao)</td>
            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
            <td>@Html.DisplayFor(modelItem => item.Preco)</td>
            <td>@Html.DisplayFor(modelItem => item.Acao.Preco)</td>
            <td>
                @if (!item.OrdensUsuariosAcoes.Any())
                {
                    <span>-</span>
                }
                else
                {
                    @item.OrdensUsuariosAcoes.Sum(a => a.UsuarioAcao.Rentabilidade).ToString("N2")
                }
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.OrdemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrdemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrdemId })

            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model.Resultados, page => Url.Action("Index",
    new CodingCraftEX06HangFire.ViewModels.OrdensViewModel()
    {
        Pagina = page,
        Tipo = Model.Tipo
    }),
    PagedListRenderOptions.Classic)