@model IEnumerable<CodingCraftEX06HangFire.Models.AcaoHistorico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acao.CodigoNegociacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorVariacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentualVariacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acao.CodigoNegociacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorVariacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentualVariacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcaoHistoricoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcaoHistoricoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcaoHistoricoId })
        </td>
    </tr>
}

</table>
