@model IEnumerable<CodingCraftEX06HangFire.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePregao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnpj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePregao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnpj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpresaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpresaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpresaId })
        </td>
    </tr>
}

</table>
