@model CodingCraftEX06HangFire.ViewModels.UsuariosAcoesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <th>Ação</th>
        <th>Quantidade</th>                
        <th>Compra</th>    
        <th>Atual</th>
        <th>Rentabilidade</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Resultados)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Acao.CodigoNegociacao)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>                        
            <td>@Html.DisplayFor(modelItem => item.Preco)</td>     
            <td>@Html.DisplayFor(modelItem => item.Acao.Preco)</td>
            <td>@Html.DisplayFor(modelItem => item.Rentabilidade)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.UsuarioAcaoId }) |
                @Html.ActionLink("Venda", "Venda", new { id = item.UsuarioAcaoId }) |
                @Html.ActionLink("Start", "Venda", new { id = item.UsuarioAcaoId }) |
                @Html.ActionLink("Stop", "Venda", new { id = item.UsuarioAcaoId })
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>        
        <td></td>
        <td></td>
        <td>@Model.Rentabilidade.ToString("N2")</td>
        <td></td>
    </tr>

</table>

@Html.PagedListPager(Model.Resultados, page => Url.Action("Index",
    new CodingCraftEX06HangFire.ViewModels.UsuariosAcoesViewModel()
    {
        Pagina = page,
    }),
    PagedListRenderOptions.Classic)