@model IEnumerable<CodingCraftEX06HangFire.Models.Acao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoNegociacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoIsin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoNegociacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoIsin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcaoId })
        </td>
    </tr>
}

</table>
